.Social-button {
  background-color: #f8e998;
  border: none;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px 40px;
  cursor: pointer;
  border-radius: 8px;
}

.container {
  background-color: #fff3cd;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-panel {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-button {
  background-color: #6c757d;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}
