.app-content {
  padding-top: 10px;
}

.login-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.login-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.Social-button {
  background-color: #f8e998;
  border: none;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
