body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} /*기본 정렬 센터*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8e998;
}

.card-list-container {
  width: 70%;
  margin-bottom: 30px;
}
.app-content {
  padding-top: 10px;
} /*헤더 상단 고정*/

.header .logo {
  font-size: 34px !important;
  font-weight: bold;
  margin-right: 20px;
  margin-top: -8px;
} /*DoGether 텍스트로고 설정*/

.header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 18px !important;
} /*헤더 글씨*/

.header nav ul li {
  margin: 0 20px;
} /*헤더 글씨 너비*/

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.search-bar input,
.search-bar button {
  margin: 0 8px;
  padding: 10px;
  border-radius: 8px;
  border: 2.5px solid #ffeb3b;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
} /*홈 화면 정렬*/

.registration-form form div {
  margin-bottom: 8px;
  text-align: center;
} /*필터링 항목들*/

.registration-form {
  width: 18%;
  padding: 20px;
  background-color: #ffffff;
  border: 2.5px solid #ffeb3b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} /*필터링 박스*/

.card-list {
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 75%;
}

.card {
  width: 292px;
  gap: 100px;
  background-color: #ffed92;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 10px 0;
}

.card-content .tag,
.card-content .date {
  font-size: 12px;
  color: #000000;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 60px 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  border: 1px solid #ddd;
  padding: 8px 16px;
  cursor: pointer;
  color: #ffeb3b;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #ffeb3b;
  color: white;
  border-color: black;
}
