.map-page {
  width: 90%;
  margin: 0 auto;
  padding: 20px; /* 상하좌우 padding 추가 */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* 좌우 padding 추가 */
}

.filters {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.filters label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Hind Siliguri", sans-serif;
}

.main-map {
  width: 100%;
  height: 500px;
  border-radius: 16px;
  margin: 20px 0;
}

.popular-list {
  width: 100%;
}

.popular-list h2 {
  font-size: 32px;
  font-family: "Hind Siliguri", sans-serif;
  margin: 20px 0;
}
