.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff3cd;
}

.sign-box {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  margin-top: -10%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sign-title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.sign-subtitle {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.kakao-sign-btn {
  background-color: #fee500;
  border: none;
  color: #3c1e1e;
  padding: 15px 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.kakao-sign-btn:hover {
  background-color: #ffd700;
}
