.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.sign-box {
  background-color: white;
  border: 2px solid #007bff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  width: 400px;
  text-align: center;
}

.sign-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.sign-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.kakao-sign-btn {
  background-color: #fee500;
  border: none;
  color: #3c1e1e;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.kakao-sign-btn:hover {
  background-color: #ffd700;
}

form {
  text-align: left;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sports-buttons {
  display: flex;
  flex-wrap: wrap;
}

.sports-buttons button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.sports-buttons button:hover {
  background-color: #f0f0f0;
}

button[type="submit"] {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #e0a800;
}
