.signup-container {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 2.5px solid #fbeda2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  margin-top: 150px;
}

.signup-container h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.signup-container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.signup-input {
  margin-bottom: 15px;
  text-align: left;
}

.signup-input label {
  display: block;
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

.signup-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.gender-selection {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.gender-selection label {
  font-size: 14px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.category-button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: white;
  color: #333;
}

.category-button.selected {
  background-color: #fbeda2;
  color: black;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #fbeda2;
  color: black;
}

.forgot-password {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
}
